body {
    font-family: sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 30px;
}

.container {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex; /* flexbox 사용 */
    flex-direction: column; /* 수직 방향으로 요소 배치 */
    align-items: center; /* 가로축 중앙 정렬 */
}

input {
    display: block;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

/* 활성화된 버튼 스타일 */
button.active {
    background-color: #007bff; /* 원하는 색상으로 변경 */
    color: white;
}

/* 버튼 위치 (캔버스 위에 배치) */
.button-container {
    text-align: center;
    margin-bottom: 20px; /* 템플릿 업로드와의 간격 */
    width: 100%; /* 컨테이너 가로 폭 채우기 */
    display: flex; /* flexbox 사용 */
    justify-content: center; /* 가로축 중앙 정렬 */
}

.button-container button {
    margin: 0 5px; /* 버튼 간 간격 조절 */
}

#canvas {
  margin-bottom: 20px; /* 캔버스와 다운로드 버튼 간 간격 */
}
